<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClubManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <applicationSettings>
        <ClubManagement.Properties.Settings>
            <setting name="PermissionText" serializeAs="String">
                <value>{"Members" : {"CanAdd" : #CanAddMembers#,"CanView" : #CanViewMembers#,"CanEdit" : #CanEditMembers#,"CanDelete" : #CanDeleteMembers#},
 "Coaches" : {"CanAdd" : #CanAddCoaches#, "CanView" : #CanViewCoaches#,"CanEdit" : #CanEditCoaches#,"CanDelete" : #CanDeleteCoaches#},
 "Moderators" : {"CanAdd" : #CanAddModerators#,"CanView" : #CanViewModerators#,"CanEdit" : #CanEditModerators#,"CanDelete" : #CanDeleteModerators#},
 "Admins" : {"CanAdd" : #CanAddAdmins#,"CanView" : #CanViewAdmins#,"CanEdit" : #CanEditAdmins#,"CanDelete" : #CanDeleteAdmins#"IsSuper" : #IsSuperAdmin#}, 
 "Forms" : {
	"Attendance" : {"ViewCoaches" : #ViewCoachesAttendance#,"ViewModerators" : #ViewModeratorsAttendance#,"ViewAdmins" : #ViewAdminsAttendance#},
	"Ads" : {"CanAdd" : #CanAddAds#,"CanEdit" : #CanEditAds#,"CanView" : #CanViewAds#,"CanDelete" : #CanDeleteAds#},
	"Permissions" : {"CanAdd" : #CanAddPermissions#,"CanEdit" : #CanEditPermissions#,"CanView" : #CanViewPermissions#,"CanDelete" : #CanDeletePermissions#},
	"ViewForms" : {"ViewAttendance" : #ViewAttendanceForm#,"ViewAds" : #ViewAdsForm#,"ViewPermissions" : #ViewPermissionsForm#}
}}
</value>
            </setting>
        </ClubManagement.Properties.Settings>
    </applicationSettings>
</configuration>
